<style>

body {background-image: url("assets/images/viking-ship.jpg");
	size: contain;
}

header {background-color: grey;
	border: solid;
	padding: 30px;
	text-align: center;
}

h1 {font-size: 50px;
}

#timer {text-align: center;
	font-size: 30px;
}

#game {margin-top: 40px;
	padding: 5px;
	border: solid;
	font-size: 15px;
	background-color: white;
}

#scoreBtn {align-content: center;
}

#button {background-color: lightblue;
	font-color: white;
}